
{% extends 'crm/base.html' %}
{% load staticfiles %}
{% block content %}

   <body>
    <html>
            {% if user.is_authenticated %}
                <div class="page-container">

                    <h2 class="top-menu">Hello {{ user.username }},</h2>
                    <p>Please select an option.</p>

                </div>
            {% endif %}
            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="{% static "images/volunteer.jpg" %}" alt="volunteer"/>
                                        <div class="caption">
                                            <h3>Volunteers</h3>
                                            <p>We see our success in our volunteers success </p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:volunteer_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="{% static "images/availability.jpg" %}" alt="availability"/>
                                        <div class="caption">
                                            <h3>Availabilities</h3>
                                            <p>Tell us when you are available with your time and talents.</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:availability_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="{% static "images/opportunity.jpeg" %}" alt="opportunities"/>
                                        <div class="caption">
                                            <h3>Opportunities</h3>
                                            <p>Find an Opportunity to Volunteer and Help your Community..</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:opportunity_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="{% static "images/assignment.jpeg" %}" alt="assignment"/>
                                        <div class="caption">
                                            <h3>Assignments</h3>
                                            <p>Check out where and when you are volunteering.</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:assignment_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-2">
                                    <div class="thumbnail">
                                        <img src="{% static "images/organizations.jpg" %}" alt="organizations"/>
                                        <div class="caption">
                                            <h3>Organizations</h3>
                                            <p>A new way to find great local nonprofits.</p>
                                            <p><a class="btn btn-primary" href="{% url 'crm:organization_list' %}"
                                                  role="button">View
                                                details &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    </html>
{% endblock %}